.b7-component-image img {
  height: 100%;
  width: 100%;
}

.b7-list:after {
  content: "";
  clear: both;
  display: table;
}

.b7-component-list[list-style="horizontal-list"] ul li {
  float: left;
  margin-left: 20px;
}

.b7-list {
  margin-left: 20px;
}


.b7-component-table{
  overflow: auto;
}