/*
whitesmoke
#2874A6
#f15a22
white
*/

#app-wrapper {
  min-height: 100vh;
  width: 100%;
  background: whitesmoke;
}

.header {
  position: absolute;
  height: 100vh;
  width: 70px;
}

.body {
  position: relative;
  margin-left: 70px;
}

.splash-body, .edit-body, .preview-body, .template-body {
  transition: all 2s ease;
}

.navbar li a {
  margin: 20px;
  height: 30px;
  width: 40px;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 0 5px #2874A6;
  cursor: pointer;
  background: white;
  color: #2874A6;
  display: block;
  text-decoration: none;
}

.navbar li a.active {
  font-weight: bold;
}

.navbar li a:hover {
  color: white;
  background: #2874A6;
  /*box-shadow: 0 0 5px whitesmoke;*/
}

.splash-body {
  text-align: center;
  color: #2874A6;
  padding-top: 100px;
}

.splash-body h1, .splash-body h3 {
  margin-bottom: 20px;
}

.splash-button {
  cursor: pointer;
  background: #2874A6;
  color: white;
  padding: 10px 20px;
  margin: 50px;
}

.splash-button:hover {
  background: white;
  color: #2874A6;
}

.template-heading, .edit-heading {
  padding-left: 20px;
  color: #2874A6;
  background: linear-gradient(to right, whitesmoke, #2874A6);
}

.template-heading img, .edit-heading img {
  padding-right: 20px;
}

.template-block {
  float: left;
  height: 240px;
  width: 30%;
  padding: 1%;
}

.template-content {
  height: 240px;
  width: 360px;
  margin: auto;
  position: relative;
  color: #2874A6;
  box-shadow: 0 0 5px #2874A6;
}

.template-name {
  position: absolute;
  padding: 10px;
  color: #f15a22;
  z-index: 10;
}

.template-image {
  position: absolute;
  height: 100%;
  width: 100%;
}

.template-preview, .template-edit {
  position: absolute;
  bottom: 30px;
  background: whitesmoke;
  padding: 10px 20px;
  cursor: pointer;
  display: none;
  box-shadow: 0 0 5px #2874A6;
}

.template-preview {
  left: 30px;
}

.template-edit {
  right: 30px;
}

.template-content:hover .template-preview, .template-content:hover .template-edit {
  display: block;
}

.template-content:hover .template-image {
  opacity: 0.1;
}

.template-preview:hover, .template-edit:hover {
  background: #2874A6;
  color: white;
}

.download-preview, .back-preview, .edit-preview {
  position: absolute;
  margin: 20px;
  height: 30px;
  width: 40px;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 0 5px #2874A6;
  cursor: pointer;
  background: white;
  color: #2874A6;
}

.edit-preview {
  top: 60px;
}

.download-preview {
  top: 120px;
}

.download-preview:hover, .back-preview:hover, .edit-preview:hover {
  background: #2874A6;
  color: white;
}
