@media screen and (max-width: 992px) {
    .container {
        max-width: 48em;
        padding: 0 0.25em;
    }

    .nav ul li {
        margin-top: 0;
        margin-bottom: 1.8em;
    }


    .col1-right-footer, .col1-left-footer {
        width: 45%;
    }

    .col-right-footer {
        width: 100%;
    }

    .col-left-footer, .col3-r-right-footer {
        width: 95%;
        float: left;
        padding-left: 3%;
    }

    .col2-left-footer {
        width: 100%;
    }
    .col-left {
        width: 70%;
        margin-left: 30%;
    }

    .col-right {
        width: 70%;
        float: left;
    }

    .col-75 {
        width: 100%;
        margin-right: 0;
    }

    .col-25-left {
        width: 100%;
        margin-right: 0;
    }

    .col-25 {
        width: 100%;
    }

    .col-50-left {
        width: 100%;
        margin-right: 0;
    }

    .col-50-right {
        width: 100%;
    }


    .col-50-left-layer2 {
        width: 100%;
        margin-right: 0;
    }

    .col-25-layer-2 {
        width: 100%;
    }

    .col-25-left-layer-3 {
        width: 100%;
        margin-right: 0;
    }

    .col-25-layer-3 {
        width: 100%;
    }

    .type-3-layout {
        width: 46.1538%;
        margin-right: 5.1282%;
    }

    .mid-block-margin-right-0 {
        margin-right: 0;
    }

    .remove-on-medium {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .container {
        max-width: 22.5em;
    }


    .col-left-footer, .col1-left-footer, .col3-r-right-footer, .col1-right-footer, .col1-right-footer {
        width: 95%;
        float: left;
        padding-left: 3%;
    }

    .nav ul li {
        width: 100%;
    }

    .nav ul li a {
        width: 100%;
    }

    .nav ul li.search-block span {
        position: absolute;
        bottom: 1.625em;
        right: 0;
    }


    .nav {
        display: none;
    }

    .mobile-menu {
        /*position: absolute;*/
        float: right;
        display: block;
    }

    .col-left {
        margin-left: 5%;
    }

    .type-3-layout {
        width: 100%;
        margin-right: 0;
    }

    .remove-on-small {
        display: none;
    }

    .type-8-button a, .type-8-headline {
        width: 100%;
        margin-top: 0.125em;
    }
}

.last-block-margin-right-0 {
    margin-right: 0;
}