.section-1 {
    width: 100%;
}

.col-75 {
    float: left;
    width: 74.3589%;
    margin-right: 2.5641%;
}

.col-50-left {
    float: left;
    width: 48.7179%;
    margin-right: 2.5641%;
}

.col-50-right {
    float: right;
    width: 48.7179%;
}

.col-25-left {
    float: left;
    width: 23.0770%;
    margin-right: 2.5641%;
}

.col-25 {
    float: right;
    width: 23.0770%;
}

.col-50-left-layer2 {
    float: left;
    width: 65.5172%;
    margin-right: 3.4482%;
}

.col-25-layer-2 {
    float: right;
    width: 31.0344%;
}

.col-25-left-layer-3 {
    float: left;
    width: 47.3684%;
    margin-right: 5.2632%;
}

.col-25-layer-3 {
    float: right;
    width: 47.3684%;
}

.section-4 strong {
    font-size: 1em;
    color: #869091;
}

.type-2-3imgblock {
    width: 25.9259%;
    margin-right: 11.1111%;
    margin-bottom: 11.1111%;
    float: left;
}

.section-10 {

}

.type-2-4imgblock {
    width: 23.0769%;
    margin-right: 2.5641%;
    margin-bottom: 2.5641%;
    float: left;
}

.type-2-2imgblock {
    width: 48.7179%;
    margin-right: 2.5641%;
    margin-bottom: 2.5641%;
    float: left;
}

.section-6, .section-7 {
    margin-bottom: 3.4375em;
}

.layer-1-14px ul li , .layer-2-14px ul li, .layer-3-14px ul li {
    font-size: 0.875em;
    line-height: 1.786em;
    padding-left: 1.429em;
}

.layer-3-13px ul li {
    font-size: 0.8125em;
    line-height: 1.923em;
    padding-left: 1.538em;

}