.header-wrapper {
    background: #75c6bf;
    background-image: url("../images/header-bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
    min-height: 5rem;
}

.logo {
    float: left;
    padding: 1.25rem 0.5rem;
    color: white;
}

.nav ul li a {
    font-size: 0.875rem;
    width: 6.25rem;
    padding: 0.625rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav ul li a:hover {
    background: #629e9c;
    background-image: url("../images/nav-border-radius.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.nav ul li a.search:hover {
    background: transparent;
}

.search-block {
    /*position: relative;*/
}

.relative-block {
    position: relative;

}

span.search {
    background-image: url("../images/search-icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1.1875rem;
    width: 1.1875rem;
    display: block;
}

.search-block:hover .search {
    background-image: url("../images/search-red.png");
}

div.search-input {
    position: absolute;
    /*padding: 0.4125rem;*/
    right: 0;
    display: none;
    /*background-image: url("../images/search-box.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    border: 4px solid #e35241;
}

.search-block:hover .search-input {
    display: block;
}

.dropdown-list {
    position: absolute;
    display: none;
    background: #76c7b1;
    width: 8.75rem;
}

.dropdown:hover .dropdown-list {
    display: block;
}

.main-top-content {
    background: #ececec;
    min-height: 5rem;
}

.title {
    padding: 1.875rem 0.5rem 0 0;
    font-size: 1.25rem;
    color: #87908d;
}

.breadcrumb ul li {
    float: left;
    margin-top: 1.5625rem;
    padding: 0.625rem;
    background-image: url(../images/seperator.png);
    background-repeat: no-repeat;
    background-position: right;
}

.breadcrumb ul li:last-child {
    background-image: none;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: #87908d;
}

.main-bottom-content {
    background: #f3f3f3;
}

.image-down-arrow {
    height: 3.375rem;
}

.mobile-menu img {
    margin: 10px;
    padding: 10px;
    height: 25px;
    width: 25px;
}

.mobile-menu {
    display: none;
}

.mobile-menu-container:hover .nav {
    display: block;
}