.body-wrapper {
    width: 100%;
}

.container {
    width: 1170px;
    margin: auto;
}

/*Header CSS */

.header-wrapper {
    /*background: #76c7c1;*/
    background-image: url("../images/header-bg.png");
    background-repeat: repeat-x;
    height: 80px;
}

.logo {
    float: left;
    margin-top: 20px;
    margin-left: 8px;
    /*font-size: 32px;*/
    color: white;
}

.navbar {
    float: right;
}

.nav {
    float: left;
}

.nav ul {
    float: right;
}

.nav ul li {
    margin-top: 24px;
    margin-left: 10px;
    float: left;
}

.nav ul li a {
    font-size: 14px;
    width: 100px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    /*font-weight: bold;*/
    color: white;
}

.nav ul li a:hover {
    background: #629e9c;
    background-image: url("../images/nav-border-radius.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*box-shadow: 0 4px #528a87;*/
}

.nav ul li a.search:hover {
    background: transparent;
}

.search-block {
    position: relative;
}

div.search-input {
    position: absolute;
    padding: 5px;
    margin-left: -140px;
    display: none;
}

.search-block:hover .search-input {
    display: block;
}

.dropdown-list {
    position: absolute;
    display: none;
    background: #76c7c1;
    /*border: 2px solid #528a87;*/
    /*font-size: 14px;*/
    width: 140px;
    /*padding: 10px;*/
}

.dropdown:hover .dropdown-list {
    display: block;
}

/*Main Top Css*/
.main-top-content {
    background: #ececec;
    /*background-image: url("../images/header-bg.png");*/
    /*background-repeat: repeat-x;*/

    height: 80px;
}

.title-content {
    float: left;
}

.title {
    margin: 30px 8px 0 0;
    font-size: 20px;
    color: #87908d;
}

.breadcrumb {
    float: right;
}

.breadcrumb ul li {
    float: left;
    margin-top: 25px;
    padding: 10px 10px;
    background-image: url(../images/seperator.png);
    background-repeat: no-repeat;
    background-position: right;
}

.breadcrumb ul li:last-child {
    background-image: none;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: #87908d;
}


/*Main Bottom Css*/
.main-bottom-content {
    background: #f3f3f3;
}

.image-down-arrow {
    height: 54px;
}

.content-first-section h1 {
    margin: 0 2px;
    color: #e35241;
    font-size: 34px;
}
