@media screen and (max-width: 992px) {
    .container {
        max-width: 48em;
        padding: 0 0.25em;
    }

    .nav ul li {
        margin-top: 0;
        margin-bottom: 1.8em;
    }

    .content-mid-section {
        display: none;
    }

    .col-scroll-title {
        float: left;
        /*width: 62.5em;*/
        width: 70%;
    }

    .col-left {
        float: left;
        width: 40%;
        /*width: 19.375em;*/
        padding-bottom: 1em;
    }


    .col2-right {
        float: right;
        width: 60%;
    }

    .col-main {
        float: left;
        width: 100%;
        /*width: 34.375em;*/
        /*margin: auto;*/
    }

    .col-right {
        float: right;
        width: 100%;
        /*width: 19.375em;*/
    }

    .col-main-bottom ul li {
        width: 50%;
    }

    .list-image ul li {
        height: 11.5em;
        width: 21.5em;
        padding: 5px;
        margin-left: 0;
        margin-top: 2.125em;
    }

    .col1-right-footer, .col1-left-footer {
        width: 45%;
    }

    .col-right-footer {
        width: 100%;
    }

    .col-left-footer, .col3-r-right-footer {
        width: 95%;
        float: left;
        padding-left: 3%;
    }

    .col2-left-footer {
        width: 100%;
    }

    /*.col-left {*/
    /*    width: 70%;*/
    /*    margin-left: 30%;*/
    /*}*/
    /*.col-right {*/
    /*    width: 70%;*/
    /*    float: left;*/
    /*}*/

}

@media screen and (max-width: 600px) {

    .container {
        max-width: 22.5em;
    }

    .col-scroll-title {
        float: left;
        /*width: 62.5em;*/
        width: 60%;
    }

    .col-left-footer, .col1-left-footer, .col3-r-right-footer, .col1-right-footer, .col1-right-footer {
        width: 95%;
        float: left;
        padding-left: 3%;
    }

    .nav ul li {
        width: 100%;
    }

    .nav ul li a {
        width: 100%;
    }

    .nav ul li.search-block span {
        position: absolute;
        bottom: 1.625em;
        right: 0;
    }


    .nav {
        display: none;
    }

    .mobile-menu {
        /*position: absolute;*/
        float: right;
        display: block;
    }

    .col-left {
        margin-left: 0;
        width: 100%;
    }

    .col2-right {
        width: 100%;
    }

    .col-main-bottom ul li {
        width: 50%;
    }
}
